* text=auto eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf

*.png -text
*.jpg -text
*.jpeg -text
*.gif -text
*.pdf -text
*.zip -text
*.gz -text
*.tgz -text
*.woff -text
*.woff2 -text
*.ico -text

